<h2>Overview</h2>
Angel is a way for you to help people in your community or to be helped by others in turn.
<p>
The way it works is that you use Twitter to report a problem or need.  For example you could twitter that you have a flat tire, or that your child has wandered off, or that you're stuck somewhere, or even if you're just hungry or want company.
<p>
Volunteers watch traffic via Angel and if they see your problem and see solutions they may be able to help out, either by directing first responders in your direction or matchmaking you with another person on Twitter.
<p>
Angel works because people increasingly twitter where they are and what they are doing. It uses text analysis and aggregation tools to help filter noise but relies primarily upon human curation and matchmaking rather than machine driven solutions.
<p>
Angel is similar in ambition to <a href="http://ushahidi.org">Ushahidi</a> except aimed more at local and smaller kinds of personal crisis rather than large scale catastrophes. Like Ushahidi it is a next generation of service that is ambient, ubiquitous and free. There is no charge to participate and you may be helped without even knowing that the service exists!  
 Please see this [<a href="http://www.slideshare.net/anselm/osbridge-angel">SlideShare Presentation on Ubiquitous Angels</a>] for more. This work was developed by [<a href="http://hook.org/anselm">Anselm</a>] with sponsorship by the [<a href="http://banffcentre.ca/BNMI">Banff New Media Institute</a>] and [<a href="http://blog.makerlab.org">Makerlab</a>].

<h2>Resources</h2>
<ul>
<li><a href='http://angel.makerlab.org'>Live Site</a>
<li>Blog <a href="http://makerlab.org/projects/angel">Makerlab Angel Project Site</a>.
<li><a href="http://www.slideshare.net/anselm/osbridge-angel">SlideShare Angel Presentation for Open Source Bridge</a>.
<li>The source code is at <a href="http://github.com/anselm/angel">github/angel</a>
<li><a href='http://twitter.com/anselm'>Twitter</a/>
</ul>
<h2>Similar work</h2>
<ul>
<li><a href="http://swiftapp.org">Swift App</a>
<li><a href="http://ushahidi.org">Ushahidi</a>
<li><a href="http://locative.makerlab.org">Locative</a>
<li><a href="http://sensorpedia.com">Sensorpedia</a>
<li><a href="http://groundcrew.us">Groundcrew</a>
</ul>


