<h1>Angel</h1>
<br/>
<h2>Overview</h2>
<br/>
Angel is a web application that watches ambient user activity on twitter and other services and attempts to build an understanding of the sentiment of a community.
<p/>
It allows volunteers to participate by looking for opportunities where they can help their community.
<p/>
The goal is to find ways to emphasize the social needs and issues that could be addressed in a community.
<p/>
And to do so in a way that does not require users to sign up for a service or even be aware of the service.
<p/>
For example if somebody is locked out of their house, or needs food or company, the Angel service should be able to see that and in doing so provide a way for volunteers to help address the issue.
<p/>
I see Angel as part of a new ambient and ubiquitous sensor network. One that watches human activity writ large.
<p/>
Angel works because people are increasingly mobile, they post status updates with their location as they are dealing with real issues in the real world.
Angel fills a gap in our communities where it is difficult to have an ongoing persistent conversation with your current geography.
<p/>
Effectively it creates a kind of shared social space proximate to each users location.
This creates an opportunity to understand the local landscape and to participate in it more fully than we do now.
<br/>
<h2>Resources</h2>
<ul>
<li><a href='http://angel.makerlab.org'>Live Site</a>
<li><a href='http://angel.makerlab.org'>Wiki Guide for Developers</a>
<li><a href='http://angel.makerlab.org'>Wiki Guide for Users</a>
<li>Blog <a href="http://makerlab.org/projects/angel">Makerlab Angel Project Site</a>.
<li>Slides and presentations<a href="http://www.slideshare.net/anselm/osbridge-angel">SlideShare Angel Presentation for Open Source Bridge</a>.
<li>The source code is at <a href="http://github.com/anselm/angel">github/angel</a>
<li><a href=''>Mailing List</a>
<li><a href=''>Twitter</a/>
</ul>
<h2>Similar work</h2>
<ul>
<li><a href="http://swiftapp.org">Swift App</a>
<li><a href="http://ushahidi.org">Ushahidi</a>
<li><a href="http://locative.makerlab.org">Locative</a>
<li><a href="http://sensorpedia.com">Sensorpedia</a>
<li><a href="http://groundcrew.us">Groundcrew</a>
</ul>
<h2>Sponsored by</h2>
<ul>
<li><a href="http://banffcentre.ca/BNMI">Banff New Media Institute</a>
</ul>


