<h1>Locative Media Engine</h1>
<br/>
<h2>Overview</h2>
<br/>
The goal is to provide open source tools to help with locative mapping projects. We are providing a server and a number of clients that will help users do mobile web mapping including posting geolocated pictures, text and movies to a shared website.
<p>
The client side is being developed for J2ME devices first. IPhone and Android versions may also be developed. The server side is a Ruby on Rails application that can be hosted privately.  We also provide an instance of the server for convenience. The server allows participants to create accounts and to create curated maps which in turn may be public, protected or private.
<br/>
<h2>News</h2>
<ul>
<li>2009/08/15 Client - We're now aiming to have a minimalist client implementation up by the end of the month.
<li>2009/08/01 Server Runs - We have a running implementation of a server now.
</ul>
<h2>Resources</h2>
<ul>
<li><a href='http://locative.makerlab.org'>Live Site</a>
<li><a href='http://locative.makerlab.org'>Wiki Guide for Developers</a>
<li><a href='http://locative.makerlab.org'>Wiki Guide for Users</a>
<li><a href='http://github.com/anselm/locative'>Locative Engine Source Code</a>
<li><a href=''>Locative Engine Mailing List</a>
<li><a href=''>Locative Engine Twitter</a/>
</ul>
<h2>Reference Materials</h2>
<ul>
<li>2009/08/15 <a href="/text/anselm_locative_engine_presentation.pdf">PDF Document on Locative Engine Framework and Use Cases</a>
<br/>
<li>2009/08/10 <a href="/text/anselm_open_collaboration_overview.pdf">PDF Document on Open Collaboration Practices</a>
</ul>
<h2>Similar work</h2>
<ul>
<li><a href="http://swiftapp.org">Swift App</a>
<li><a href="http://ushahidi.org">Ushahidi</a>
<li><a href="http://angel.makerlab.org">Angel</a>
<li><a href="http://sensorpedia.com">Sensorpedia</a>
<li><a href="http://groundcrew.us">Groundcrew</a>
</ul>
<h2>Sponsored by</h2>
<ul>
<li><a href="http://banffcentre.ca/BNMI">Banff New Media Institute</a>
</ul>

