<h2>Twitter Local Activity Map</h2>
<br/>
Move the map and hit refresh to see activity in an area including popular urls, people and posts.  Ranking and scoring algorithms are still being revised, and url expansion is also still being revised.  This example is part of a larger goal which you can see on the <a href='/about'>about</a> page.<br/>
<%= @map.body() %>
<table width="100%">
<tr>
<td width="33%" valign=top><div id="people_box">People</div></td>
<td width="33%" valign=top><div id="posts_box">Posts</div></td>
<td width="33%" valign=top><div id="urls_box">Urls</div></td>
</tr>
</table>

