
#header
  %h1 Meedan Community Map
  = @map.body()

#about_box
  =image_tag "meedan_combo_rgb.jpg"
  %p This project sponsored by the Arabic-English forum Meedan.net
  
  #url_box
    %h3
      %a Links
    %ul
      %li
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf      
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf 
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf      
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf
      %li 
        %a{:href => '#colored-link'} Tsdkhjfs dfhgsdfkj sdfkjhsdfkjhs dfkjh sdf      

#posts_box
  %h3 
    %a Latest Tags
  %ol
    %li.xxs politics
    %li.xs technology
    %li.s mideast
    %li europe
    %li.l england
    %li.xl unitedstates
    %li.xxl iraq
    %li.xs scholarship
    %li.s reading
    %li.l jordan
    %li.xxl iran
    %li.xxs egypt
    %li election
    %li.xs timestamp

  #tabular_box
    %h3 
      %a News Metrics
    %table.alternating{:cellspacing => 0, :cellpadding => 0, :border => 0}
      %thead
        %tr
          %th &nbsp;
          %th.even nytimes.com
          %th.odd aljazeera.com
          %th.even alhurra.com
      %tr.odd
        %th iraq
        %td.numeric.even 1.1
        %td.numeric.odd  1.2
        %td.numeric.even 1.3
      %tr.even
        %th iran
        %td.numeric.even 2.1
        %td.numeric.odd  2.2
        %td.numeric.even 2.3
      %tr.odd
        %th michael jackson
        %td.numeric.even 3.1
        %td.numeric.odd  3.2
        %td.numeric.even 3.3
      %tr.even
        %th israel
        %td.numeric.even 4.1
        %td.numeric.odd  4.2
        %td.numeric.even 4.3
      %tr.odd.last
        %th egypt
        %td.numeric.even 5.1
        %td.numeric.odd  5.2
        %td.numeric.even 5.3
      %tfoot
        %tr
          %th Totals
          %td.numeric.even 15.5
          %td.numeric.odd  16.0
          %td.numeric.even 17.5
    
#people_box
  %h3 
    %a People
  %ul 
    %li ubaijazz
    %li MaanNewsAgency
    %li ramezm
    %li djigivara1
    %li evgenymorozov
    %li MaktoobBusiness
    %li meedan
    %li LilyMazahery
    %li palestine
    %li thabet1979
    %li jordantimes
    %li arabist
    %li Katulis
    %li MXML
    %li halachaoui
    %li muslimvoices
    %li EgyTweets
    %li PalestineCenter
    %li SubMedina
    %li am2680
    
#places_box
  %h3 
    %a Places
  %ul
    %li Palestine
    %li Iraq
    %li Iran
    %li Syria
    %li Jordan
    %li United States
    %li Egypt
    %li Afghanistan
    %li Turkey
    %li Israel
    %li Palestine
    %li Iraq
    %li Iran
    %li Syria
    %li Jordan
    %li United States
    %li Egypt
    %li Afghanistan
    %li Turkey
    %li Israel
        
#ellipsis
  %h3 
    %a Incoming Links
  %ul  
    %li 
      %span.source
        nytimes.com
      This long text is truncated at the end of the first line. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %li 
      %span.source
        nytimes.com
      This long text is truncated at the end of the first line. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %li 
      %span.source
        nytimes.com
      This long text is truncated at the end of the first line. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    
  
  
  