
<%= @map.body() if @map %>

<table width="100%">
<tr>
<td width="1%"></td>
<td valign=top width="15%"><h2>Profiles</h2><div id="people_box"></div></td>
<td valign=top width="30%"><h2>Activity</h2><div id="posts_box"></div></td>
<td valign=top width="30%"><h2>Saved</h2><div id="places_box"></div></td>
<td valign=top width="25%"><h2>Matches</h2><div id="places_box"></div></td>
<!-- <td><h2>Places</h2><div id="places_box"></div></td> -->
<!-- <td><h2>Entities</h2><div id="places_box"></div></td> -->
<!-- <td><h2>URLS</h2><div id="places_box"></div></td> -->
</tr>
</table>
