
#header
  = @map.body()

#primary

  #posts
    %h3 Posts
    #posts_box

  #places
    %h3 Places
    %ul
      %li Palestine
      %li
        %a{:href => "/?country=Iraq"} Iraq
      %li
        %a{:href => "/?country=Iran"} Iran
      %li
        %a{:href => "/?country=Syria"} Syria
      %li
        %a{:href => "/?country=Jordan"} Jordan
      %li United States
      %li Egypt
      %li Afghanistan
      %li Turkey
      %li Israel
      %li Palestine
      %li Iraq
      %li Iran
      %li Syria
      %li Jordan
      %li United States
      %li Egypt
      %li Afghanistan
      %li Turkey
      %li Israel          
    #places_box

  #urls  
    %h3 Links
    #urls_box

  #people
    %h3 People
    #people_box
