<%= @map.body() %>
<table width="100%">
<tr>
<td width="33%" valign=top><div id="people_box">People</div></td>
<td width="33%" valign=top><div id="posts_box">Posts</div></td>
<td width="33%" valign=top><div id="urls_box">Urls</div></td>
</tr>
</table>

