
#header
  %h1 Meedan Community Map
  = @map.body()

#left
  #people_box
    %h3 
      %a People
    %ul 
      %li ubaijazz
      %li MaanNewsAgency
      %li ramezm
      %li djigivara1
      %li evgenymorozov
      %li MaktoobBusiness
      %li meedan
      %li LilyMazahery
      %li palestine
      %li thabet1979
      %li jordantimes
      %li arabist
      %li Katulis
      %li MXML
      %li halachaoui
      %li muslimvoices
      %li EgyTweets
      %li PalestineCenter
      %li SubMedina
      %li am2680

  #places_box
    %h3 
      %a Places
    %ul
      %li Palestine
      %li Iraq
      %li Iran
      %li Syria
      %li Jordan
      %li United States
      %li Egypt
      %li Afghanistan
      %li Turkey
      %li Israel
      %li Palestine
      %li Iraq
      %li Iran
      %li Syria
      %li Jordan
      %li United States
      %li Egypt
      %li Afghanistan
      %li Turkey
      %li Israel          

#right
  #posts_box
    %h3 
      %a Latest Tags
    %ol
      %li.xxs politics
      %li.xs technology
      %li.s mideast
      %li europe
      %li.l england
      %li.xl unitedstates
      %li.xxl iraq
      %li.xs scholarship
      %li.s reading
      %li.l jordan
      %li.xxl iran
      %li.xxs egypt
      %li election
      %li.xs timestamp

    #tabular_box
      %table.alternating{:cellspacing => 0, :cellpadding => 0, :border => 0}
        %thead
          %tr
            %th &nbsp;
            %th.even nytimes.com
            %th.odd aljazeera.com
            %th.even alhurra.com
        %tr.odd
          %th %span iraq
          %td.numeric.even 1.1
          %td.numeric.odd  1.2
          %td.numeric.even 1.3
        %tr.even
          %th 
            %span iran
            %td.numeric.even 2.1
            %td.numeric.odd  2.2
            %td.numeric.even 2.3
        %tr.odd
          %th 
            %span michael jackson
            %td.numeric.even 3.1
            %td.numeric.odd  3.2
            %td.numeric.even 3.3
        %tr.even
          %th 
            %span israel
            %td.numeric.even 4.1
            %td.numeric.odd  4.2
            %td.numeric.even 4.3
        %tr.odd.last
          %th 
            %span egypt
            %td.numeric.even 5.1
            %td.numeric.odd  5.2
            %td.numeric.even 5.3
        %tfoot
          %tr
            %th 
              %span Totals
              %td.numeric.even 15.5
              %td.numeric.odd  16.0
              %td.numeric.even 17.5

#logo_box

#url_box  
  %h3
    %a Links
  %ul
    %li
      %a{:href => '#colored-link'} Malware Massive Malware Outbreak Infects 30000 Websites | Darknet – The ...: This looks like a fairly com.. http://tinyurl.com/m98nyj
      
    %li 
      %a{:href => '#colored-link'} Kudrin Talking about the early exit from the crisis it is too early http://bnott.com/15265
            
    %li 
      %a{:href => '#colored-link'} FMI: lo peor de crisis global aún no pasó (america economia). Lealo en http://degerencia.com/n/27650
      
    %li 
      %a{:href => '#colored-link'} Green earthquake alert Indonesia(M=6.1) potentially affecting no people. http://bit.ly/IYUDy
      
    %li 
      %a{:href => '#colored-link'} Flu trends produces a heat map of search about flu; with it, people can find in which state the outbreak happens, etc. L:tokyo
    %li
      %a{:href => '#colored-link'} Malware Massive Malware Outbreak Infects 30000 Websites | Darknet – The ...: This looks like a fairly com.. http://tinyurl.com/m98nyj

    %li 
      %a{:href => '#colored-link'} Kudrin Talking about the early exit from the crisis it is too early http://bnott.com/15265

    %li 
      %a{:href => '#colored-link'} FMI: lo peor de crisis global aún no pasó (america economia). Lealo en http://degerencia.com/n/27650

    %li 
      %a{:href => '#colored-link'} Green earthquake alert Indonesia(M=6.1) potentially affecting no people. http://bit.ly/IYUDy

    %li 
      %a{:href => '#colored-link'} Flu trends produces a heat map of search about flu; with it, people can find in which state the outbreak happens, etc. L:tokyo      