@import blueprint/reset.sass
@import partials/base.sass
@import blueprint
@import compass/utilities.sass
@import compass/misc.sass
@import compass/layout.sass
@import blueprint/modules/liquid.sass
@import blueprint/modules/fancy_type.sass

!blueprint_table_header_color = #000
!blueprint_table_stripe_color = #f8f8f8

body
  +blueprint-liquid-grid
  +blueprint-typography
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +sticky-footer( 180px, “#container”, “#container_footer_empty_div_hack”, “#footer” )
form
  +blueprint-form

#container
  +container
  :width 100%
  :font-size 1.5em
  :background url("/images/gradient.gif") bottom repeat-x
  :padding-bottom 50px

#header
  :height 340px
  +column(24)
  :border-bottom 3px solid #333
  :background url("/images/bkg_grey.jpg") 10% 20% repeat-x
  h1
    :font-size 40px

#map
  +column(23)

#primary
  +container
  +column(23)
  +push(1)

  #people, #places, #posts, #urls
    +column(4)

ul
  :list-style-type none!important
  :padding 0!important
  :margin 0!important

h3 
  :width 100%
  :margin-top 35px!important
  :border-bottom 3px solid #333

div h3 a
  :text-decoration none


  
#footer
  :background-color #000
  :text-align center
  :height 150px
  :color #888
  :padding 50px